* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #B29377;
}
main {
    user-select: none;
}
/*DESKTOP NAVIGATION BAR */
nav {
    width: 100%;
    background-color: #895f46;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    user-select: none;
    box-sizing: border-box;
}


.icon {
    width: 3rem;
}
.logo-and-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.logo-and-name-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
}
.logo {
    width: 4rem;
}
.logo-and-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; /* Logo name */
    font-weight: bolder;
}
.nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links {
    display: flex;
    list-style-type: none;
    font-size: 2rem;
    height: 100%; /* Make .nav-links same height as nav-links-container */
    align-items: center;
    gap: 3rem;
    font-weight: 900;
}

.nav-links li {
    height: 100%; /* Make li same height as .nav-links */
}

.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #D3BFA7;
    height: 100%; /* Make a same height as li */
    padding: 0 1rem;    
}

.nav-links a:hover {
    text-decoration: none;
    color: black;
    background-color: #B29377;
}
.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.cart-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;   
}
.cart-container a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #B29377;
}
/* HAMBURGER NAVIGATION BAR */
#hamburger-nav {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.hamburger-icon {
    font-size: 3rem;
    cursor: pointer;
}
.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -2rem;
    top: 100%;
    background-color: #895f46;
    width: fit-content;
    max-height: 0px;
    overflow: hidden;
    list-style-type: none;
    
}
.menu-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menu-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: #D3BFA7;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    width: 90%;
}
.menu-links a:hover {
    color: black;
    background-color: #B29377;
}
.menu-links a:active {
    color: black;
    background-color: #B29377;
}
.menu-links.open {
    max-height: 300px;
    border-bottom: 0.5rem solid #895f46;
}
@media screen and (max-width:575px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .cart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }
}

/* ITEM */
.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 3rem;
    margin: 2rem;
    box-shadow: 0 0 0.5rem black;
}
.image-and-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-image {
    width: 12rem;
}
.details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.name {
    font-size: 2.5rem;
    font-weight: bolder;
}
.quantity-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.quantity {
    font-size: 2.5rem;
    font-weight: bolder;
}
.quantity-value {
    font-size: 2rem;
    font-weight: bolder;
}
.minus-quantity-button, .plus-quantity-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10rem;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
    font-weight: bolder;
    background-color: #A47F65;
}
.minus-quantity-button:hover, .plus-quantity-button:hover {
    background-color: hsl(25, 26%, 45%);
}
.minus-quantity-button:active, .plus-quantity-button:active {
    background-color: hsl(25, 26%, 40%);
}
.minus, .plus {
    font-size: 2rem;
}
.delete-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
.delete-button {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 5rem;
    padding: 1rem 2rem;
    background-color: #FF0000;
    cursor: pointer;
}
.delete-button:hover {
    background-color: #db0000
}
.delete-button:active {
    background-color: #b30000
}
@media screen and (max-width: 475px){
    .item-container {
        display: block;
        flex-direction: column;
        height: 18rem;
    }    
}